#repeat-group: CALENDAR infix CALENDAR_URL CALENDAR_USER CALENDAR_PASSWORD
#required: Nextcloud CalDAV principal URL
CALENDAR_URL=https://domain.tld:port/remote.php/dav/principals/users/username/
#required: Calendar username
CALENDAR_USER=
#required: Calendar app password
#secret
CALENDAR_PASSWORD=
