BIP39_PUBLISH_PORT=11002

OPENCLAW_GATEWAY_PUBLISH_PORT=20789

HERMES_DASHBOARD_PUBLISH_PORT=19119

HERMES_API_SERVER_PUBLISH_PORT=18642

KACHELMANN_PUBLISH_PORT=11006

#default-preset: ${CONTAINER_NAME}-persistent:/persistent:Z
FEDORA43_AI_VOLUMES=${CONTAINER_NAME}-persistent:/persistent:Z
