DEFAULT_MODEL=xai/grok-4-1-fast-reasoning
#API_BASE_URL=https://api.x.ai/v1

#OPENAI_API_KEY=xai-...
#xai/grok-4-1-fast-reasoning
#openai/gpt-4o-mini
#anthropic/claude-3-5-sonnet-20241022
#groq/llama3-70b-8192
USE_LITELLM=true
OPENAI_API_KEY=sk-...
ANTHROPIC_API_KEY=sk-...
GEMINI_API_KEY=...
GROQ_API_KEY=gsk_...
XAI_API_KEY=xai-...
PRETTIFY_MARKDOWN=false
CHAT_CACHE_PATH=/tmp/chat_cache
CACHE_PATH=/tmp/cache
CHAT_CACHE_LENGTH=100
CACHE_LENGTH=100
REQUEST_TIMEOUT=60
DEFAULT_COLOR=magenta
ROLE_STORAGE_PATH=/home/rafael/.config/shell_gpt/roles
DEFAULT_EXECUTE_SHELL_CMD=false
DISABLE_STREAMING=false
CODE_THEME=dracula
OPENAI_FUNCTIONS_PATH=/home/rafael/.config/shell_gpt/functions
OPENAI_USE_FUNCTIONS=true
SHOW_FUNCTIONS_OUTPUT=false
SHELL_INTERACTION=true
OS_NAME=auto
SHELL_NAME=auto

#API_BASE_URL=https://api.openai.com/v1
