#required:
HERMES_START=1

#repeat-group: OPENAI_V1 suffix OPENAI_V1_PROVIDER OPENAI_V1_URL OPENAI_V1_PORT OPENAI_V1_KEY OPENAI_V1_API_KEY_ALIAS OPENAI_V1_STREAM
OPENAI_V1_PROVIDER=

OPENAI_V1_URL=

#default-preset: 443
OPENAI_V1_PORT=443

#secret
OPENAI_V1_KEY=

#reverse-varname: OPENAI_V1_KEY
OPENAI_V1_API_KEY_ALIAS=

#default-preset: false
OPENAI_V1_STREAM=false

#required:
HERMES_MODEL=

#valuedupe: HERMES_DASHBOARD_BASIC_AUTH_PASSWORD
#required:
#secret
HERMES_API_SERVER_KEY=example: openssl rand -hex 32

#default-preset: hermes
#required:
HERMES_DASHBOARD_BASIC_AUTH_USERNAME=hermes

#required:
#secret
HERMES_DASHBOARD_BASIC_AUTH_PASSWORD=example: openssl rand -hex 32

#required:
#secret
HERMES_TELEGRAMTOKEN=Hermes-Agent

#repeat-group: MCP_SERVER suffix02 MCP_SERVER_NAME MCP_SERVER_URL MCP_SERVER_BEARER
#repeat-optional-complete: MCP_SERVER_NAME MCP_SERVER_BEARER
MCP_SERVER_NAME=

MCP_SERVER_URL=

#secret
MCP_SERVER_BEARER=

